@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

.searchFor {
    margin-top: 20px;
    display:flex;
    color: white;
    font-family: 'Jura', sans-serif;
}

.mainSearch {
    display: flex;
}

.SearchInput {
    height: 50px;
    width: 80%;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 30px;
    font-family: 'Jura', sans-serif;
}

.searchButton {
    width: 20%;
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 10px;
    outline: none;
    background-color: #41414d;
    color: white;
    font-size: 200%;
    font-family: 'Jura', sans-serif;
}

.searchButton:hover {
    color: #fe8e22; 
}