@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

.main-title {
    margin-top: 20px;
    border: none;
    display: flex;
    background-color: #41414d;
    color: #fe8e22;
    font-size: 300%;
    font-weight: 600;
    font-family: 'Jura', sans-serif;
}
