.App {
  height: 900px;
  width: 780px;
  margin: auto;
  border-style: solid;
  border-color: #e77b15;
  border-radius: 25px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  background-color: #41414d;
}


